.world {
  position: relative;
  left: 0;
  top: 0;


}

.world img {
  width: 6079.66px;
  height: 5015.49px;
  display: block;
  transform: scale(0.5);
  transform-origin: top left;
  image-rendering: pixelated;

}

