<div class="ss">
  <ngx-spinner bdColor="rgba(0,0,0,0.5)" size="medium" color="#fff" type="ball-circus"
    [fullScreen]="true"> <p style="color: white" >loading</p></ngx-spinner>
  <div
    *ngIf="isMobile"
    class="mobile-block"
  >

    <div class="mobile-box">

      <h1>DESKTOP ONLY</h1>

      <p>
        This website only works on desktop devices.
      </p>

    </div>

  </div>

  <!-- WEBSITE -->
  <app-splash *ngIf="showSplash"></app-splash>
  <router-outlet *ngIf="!isMobile"></router-outlet>
  </div>
