.room {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background: black;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}

.player {
  position: absolute;
  transform: scale(2);
}

.interact-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Pixelify Sans', 'Press Start 2P', cursive;
  background: #d9b100;
  color: white;
  border: none;
  height: 40px;
  width: 40px;
  box-shadow:
    0 0 0 4px white,
    0 4px 0 4px white,
    4px 0 0 4px white,
    -4px 0 0 4px white,
    0 -4px 0 4px white;
  image-rendering: pixelated;
  z-index: 999;
  animation: floatButton 0.8s infinite alternate;
}


@keyframes floatButton {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}

.dialogue-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}


.dialogue-box {
  position: relative;
  width: 700px;
  height: 400px;
}


.dialogue-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}


.dialogue-text {
  position: absolute;
  left: 80px;
  top: 110px;
  width: 540px;
  color: black;
  font-family: 'Pixelify Sans', cursive;
  font-size: 28px;
  line-height: 1.5;
}


.next-btn {
  position: absolute;
  right: 60px;
  bottom: 40px;
  padding: 10px 20px;
  border: 4px solid black;
  background: white;
  font-family: 'Pixelify Sans', cursive;
  font-size: 24px;
  cursor: pointer;
}

.dialogue-title {
  position: absolute;

  top: 5px;
  left: 0;

  width: 100%;

  text-align: center;

  font-family: 'Pixelify Sans', cursive;
  font-size: 34px;

  color: white;

  z-index: 20;
}


.back-city-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Pixelify Sans', 'Press Start 2P', cursive;
  background: #d9b100;
  color: white;
  border: none;
  box-shadow:
    0 0 0 4px white,
    0 4px 0 4px white,
    4px 0 0 4px white,
    -4px 0 0 4px white,
    0 -4px 0 4px white;
  image-rendering: pixelated;
  z-index: 999;
  position: fixed;
  bottom:  20px;
  left: 20px;
  padding: 10px 20px;
  cursor: pointer;

}


.cover-image {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 0px;
  top: 0px;
  object-fit: cover;
  image-rendering: pixelated;
}

.cover-text {
  top: 80px;
  text-align: start;
}

.gallery-images {
  position: absolute;
  top: 80px;
  left: 60px;
  width: 580px;
  z-index: 5000;
  display: flex;

  gap: 20px;
}
.gallery-images img {
  width: 200px;
  height: 280px;
  z-index: 5000;
  object-fit: cover;
  image-rendering: pixelated;
}

.gallery-text {
  top: 280px;
  text-align: start;
}
.hidden-close-btn {
  position: absolute;

  top: 12px;
  right: 21px;

  width: 45px;
  height: 45px;

  background: transparent;
  border: none;

  cursor: pointer;

  z-index: 100;
}

//422b26
